<!--The content below is only a placeholder and can be replaced.-->
<div>
  <auth-form
    (submitted)="loginUser($event)">
    <h3>Login</h3>
    <auth-remember (onRemember)="onRemember($event)"></auth-remember>
    <button type="submit">Login!</button>
  </auth-form>
  <div>
    <button (click)="destroyCmp()">Destroy</button>
    <button (click)="moveComponent()">Move!</button>
    <div #entry></div>
    <ng-container [ngTemplateOutlet]="tmpl" [ngTemplateOutletContext]="{$implicit: 'Alex', greet: 'Hi'}"></ng-container>
  </div>
  <ng-template #tmpl  let-name let-greet="greet">{{greet}}, {{name}}!</ng-template>
</div>

