<div [formGroup]="parent">
  <div class="stock-selector" formGroupName="selector">
    <select formControlName="product_id" type="text" placeholder="Product ID">
      <option [value]="null">Select stock</option>
      <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
    </select>
    <input formControlName="quantity" step="10" min="10" max="10000" type="number" placeholder="Quantity">
    <button type="button" (click)="onAdd()">Add stock</button>
  </div>
</div>
